<%- include('admin-header',{process:process}); -%>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
 
        if(file){
            var reader = new FileReader();
 
            reader.onload = function(){
                $("#previewImg").attr("src", reader.result);
            }
 
            reader.readAsDataURL(file);
        }
    }
</script>

    <!-- Registration card Start-->

    <form action="/update_product/<%= pro_id %>" method="POST" enctype="multipart/form-data">
      
    <div class="row d-flex justify-content-center p-2 m-3">


        <div class="col-lg-6 p-0 m-0">

            <div class="container p-4 pb-4 rounded-3 bg-white shadow">

                <img id="previewImg" src="<%= product_info[0].product_image_url %>" class="img-fluid" alt="...">


            <div class="row d-flex justify-content-center">

              <div class="col-8">

                <div class="container text-center my-3">

            
                  <!-- <button type="button" class="btn btn-outline-dark hind-siliguri ">ছবি আপলোড</button> -->
    
                  <p class="hind-siliguri">Please Upload 741  <i class="bi bi-x"></i> 392 Image</p>

                  <div class="input-group mb-3">
                    <input type="file" required class="form-control hind-siliguri" id="inputGroupFile02" type="file" name="product_image" onchange="previewFile(this);">
                    <label class="input-group-text hind-siliguri" for="inputGroupFile02">ছবি আপলোড</label>
                  </div>
    
                </div>

              </div>

            </div>


           
            <div class="text-success text-center my-3"> <%= message %> </div>

            

                <div class="row">

                    <div class="col-lg-6">

                        <div class="mb-3">

                            <div class="container p-0">

                                <label for="formGroupExampleInput" class="form-label hind-siliguri">প্রোডাক্টের নাম লিখুন <span class="text-danger fs-6 fw-bold">*</span></label>

                            </div>
                        
                            
                          <input type="text" class="form-control border-dark rounded-3" value="<%= product_info[0].product_name %>" name="product_name" placeholder="" required>

                        </div>

                    </div>

                    <div class="col-lg-6">

                      <div class="mb-3">

                          <div class="container p-0">

                              <label for="formGroupExampleInput"  class="form-label hind-siliguri">প্রোডাক্টের দাম লিখুন <span class="text-danger fs-6 fw-bold">*</span></label>

                          </div>
                      
                          
                        <input type="text" class="form-control border-dark rounded-3" value="<%= product_info[0].main_price %>" name="main_price" placeholder="" required>

                      </div>

                  </div>

                  <div class="col-lg-6">

                    <div class="mb-3">

                        <div class="container p-0">

                            <label for="formGroupExampleInput"  class="form-label hind-siliguri">Discount Percentage <span class="text-danger fs-6 fw-bold">*</span></label>

                        </div>
                    
                        
                      <input type="text" class="form-control border-dark rounded-3" name = "discount" value="<%= product_info[0].discount %>" placeholder="" required>

                    </div>

                </div>



                    <div class="col-lg-6">

                      <div class="mb-3">

                          <div class="container  p-0">

                              <label for="formGroupExampleInput" class="form-label hind-siliguri">Category<span class="text-danger fs-6 fw-bold">*</span></label>

                          </div>
                      
                          
                          <select class="form-select border-dark rounded-3 hind-siliguri" name="category_id" aria-label="Default select example" required>
                              <!-- <option selected>Gender সিলেক্ট করুন</option> -->

                              <% for(var i = 0;i< category.length ; i++){ %>

                                <option value="<%= category[i].id %>"><%= category[i].category_name %></option>


                             <%  } %>

                              
                            
                            
                            </select>

                      </div>

                  </div>

                  
                  <div class="col-lg-6">

                    <div class="mb-3">

                        <div class="container  p-0">

                            <label for="formGroupExampleInput" class="form-label hind-siliguri">Feature in home page <span class="text-danger fs-6 fw-bold">*</span></label>

                        </div>
                    
                        
                        <select class="form-select border-dark rounded-3 hind-siliguri" name="feature" aria-label="Default select example" required>
                            <!-- <option selected>Gender সিলেক্ট করুন</option> -->
                            <option value="Yes">Yes</option>
                            <option value="Female">No</option>
                          
                          </select>

                    </div>

                </div>




                <div class="col-lg-12">

                  <div class="mb-3">

                      <div class="container  p-0">

                          <label for="formGroupExampleInput" class="form-label hind-siliguri">প্রোডাক্ট সম্পর্কে সংক্ষিপ্ত বর্ণনা <span class="text-danger fs-6 fw-bold">*</span></label>

                      </div>
                  
                      

                    <textarea class="form-control border-dark rounded-3" name="short_des" id="exampleFormControlTextarea1" rows="3"><%= product_info[0].short_des %></textarea>

                  </div>

              </div>




      


            



        <div class="container my-3 text-center">

          <button type="submit" class="btn btn-dark hind-siliguri"> Update Product</button>

        </div>


               




                  </div>

            </div>

        </div>

        

      </div>

    </form>

      <!-- Registration card End-->


<%- include('admin-footer'); -%>


