<%- include('header', {userId:userId, login_status: login_status}); -%>




<div class="row d-flex my-5 justify-content-center">

    <div class="col-lg-6">

        <div class="container text-center">

          <div class="hind-siliguri bg-warning text-dark py-1"> <%= order_details[0].status %> </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub total</th>
                  </tr>
                </thead>
                <tbody>

                 

                    <% var allproducts = JSON.parse(order_details[0].order_details) %>

                   <% for( var i = 0 ; i< allproducts.length ; i++ ){ %>

                    <tr>
                        <th scope="row" class="baloo-da-2"><%= i + 1 %></th>
                        <td class="baloo-da-2" ><%= allproducts[i].product_name %></td>
                        <td class="baloo-da-2"><%= allproducts[i].quantity %> <i class="bi bi-x"></i> <%= allproducts[i].price %></td>
                        <td class="baloo-da-2"><%= allproducts[i].quantity * allproducts[i].price %></td>
                      </tr>
                      

                   <% } %>


                   <tr>
                    <th scope="row"></th>
                    <td class="baloo-da-2" ></td>
                    <th class="baloo-da-2"> Total Price </th>
                    <th class="baloo-da-2"><%= order_details[0].total_price %></th>
                  </tr>

                  
                
                </tbody>
              </table>

              <div class="row">

                <div class="col-6">

                </div>

                <div class="col-6 text-center">

                   

                    <!-- <button id="bKash_button" class="btn btn-warning" disabled="disabled">Pay With bKash</button> -->

                </div>

              </div>

        </div>

    </div>

</div>



<%- include('footer'); -%>