<%- include('header', {userId:userId, login_status: login_status}); -%>






    <div class="container my-5">

        <a href="#" class="hind-siliguri text-primary text-center h5 text-decoration-none"> <%= category_name[0].category_name %>  <br> <br></a>
          
        <div class="row">

          <%  for( var j = 0; j< thiscategory_product.length; j++ ){ %>


                <div class="col-lg-4">

                    <div class="container shadow-sm rounded-3">
    
                        <img src="<%=  products[j].product_image_url %>" class="img-fluid my-3" alt="...">
    
                        <div class="fs-5 fw-bold baloo-da-2 text-success my-3"><%=  products[j].product_name %></div>
                       
                        <div class="row">
    
                            <div class="col-6">
    
                                <div class="fs-6 hind-siliguri"><del>মূল্য - <%=  products[j].main_price %> BDT</del>  </div>
    
                            </div>
    
                            <div class="col-6">
    
                                <div class="fs-6 fw-bold hind-siliguri text-end text-primary"><%=  products[j].discount %>% ছাড় চলছে</div>
    
                            </div>
    
                        </div>
    
                        <div class="row my-3">
    
                            <div class="col-7">
    
                                <div class="containter p-0">

                                    <% var price = Math.floor(((100 - products[j].discount)/100)*products[j].main_price); %>
    
                                    <button type="button" class="btn btn-warning w-100 fw-bold hind-siliguri ">মূল্য - <%= price %>/= BDT</button>
    
                                </div>
    
                                
    
                            </div>
    
                            <div class="col-5">
    
                                <div class="container text-end p-0">
    
                                    <% if( userId != null){ %>

                                        <a type="button" onclick= "addtoCart( '<%= products[j].id %>' )" class="btn btn-success w-100 fw-bold hind-siliguri">Add to Cart </a>

                                   <% } else{ %>

                                    <a type="button" href="/login" class="btn btn-success w-100 fw-bold hind-siliguri">Add to Cart</a>

                                   <% } %>

                                    
    
                                </div>
    
                                
    
                            </div>
    
    
                        </div>
    
                        <div class="row my-3 pb-3">
    
                            
                            <div class="col-5">
    
                                <div class="container text-end p-0">
    
                                    <button type="button" class="btn btn-dark w-100 fw-bold baloo-da-2">Buy Now</button>
    
                                </div>
    
                                
    
                            </div>
    
                            <div class="col-7">
    
                                <div class="containter p-0">
    
                                    <a href="/product/<%= products[j].id %>"  type="button" class="btn btn-outline-dark w-100 fw-bold hind-siliguri">View Details</a>
    
                                </div>
    
                                
    
                            </div>
    
    
    
                        </div>

                    
                       
                       
    
                        
    
                    </div>
    
                    
    
                </div>

         
           


          <%  } %>

           

            

        </div>

      </div>

      <!-- Modal -->
<div class="modal fade" id = "myModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title baloo-da-2" id="exampleModalLabel">পণ্য টি কার্টে যুক্ত হয়েছে</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark baloo-da-2" data-bs-dismiss="modal">আরও পণ্য কার্টে যুক্ত করুন</button>
          <button type="button" class="btn btn-warning baloo-da-2">Go to Cart</button>
        </div>
      </div>
    </div>
  </div>

  
  <script>



    function addtoCart (  product_id ){

        console.log( product_id );

        $.post("http://localhost:8081/addtocart",
          {
    
           product_id: product_id

           },

           function(data, status){

           console.log(data);

           if(data == "add to cart"){

            $('#myModal').modal('show');

           }


           

          });

   }


  </script>







     
      <%- include('footer'); -%>
